@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.core {
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: flex-end;
}

.core .core-body {
    height: 95%;
    width: 100%;
}

.core .core-body .row {
    height: 100%;
    width: 100%;
}

.core .core-body .row .col-lg-6{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.core .core-body .row .col-lg-6 .box-img{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-image: url(../img/international/together.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* TEXT */
.core .core-body .row .col-lg-6.text{
    align-items: flex-start;
}

.core .core-body .row .col-lg-6.text h5 {
    font-weight: bold;
    color: #158dd6;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    margin: 0 50px;
}

.core .core-body .row .col-lg-6.text h1 {
    font-size: 4vw;
    font-family: 'Lobster', cursive;
    margin: 0 40px;
}

.core .core-body .row .col-lg-6.text p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: justify;
    font-size: 1.2em;
    margin: 0 40px;
}

.core .core-body .row .col-lg-6.text p span {
    font-weight: bold;
}

@media(max-width: 991px){
    .core .core-body .row .col-lg-6 .box-img{
        width: 40%;
        height: 90%;
        margin-top: 30px;
    }

    .core .core-body .row .col-lg-6.text{
        align-items: center;
    }

    .core .core-body .row .col-lg-6.text h1 {
        font-size: 7vw;
        width: 90%;
        text-align: center;
        text-shadow: 2px 2px 2px black;
    }
    
    .core .core-body .row .col-lg-6.text p {
        display: none;
    }

    .core .core-body {
        height: 100%;
        width: 100%;
    }

    .core .core-body .row .col-lg-6 .box-img{
        display: none;
    }

    .core .core-body .row {
        background-image: url(../img/international/together.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        color: #fff;
    }

    .core {
        align-items: center;
        justify-content: center;
    }
    
}

@media(max-width: 480px){

    .core .core-body .row .col-lg-6.text h1 {
        font-size: 9vw;
        width: 90%;
    }
}

/* STYLE DESTINASI */
.main .destinasi {
    height: fit-content;
    width: 100%;
    box-sizing: border-box;
    background-color: #fff;
}

.destinasi h1 {
    text-align: center;
    padding: 40px 0 0;
    font-family: 'Lobster', cursive;
}

.main .destinasi .row .col-12 .row .col-6 {
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.main .destinasi .row .col-12 .row .col-6 .cov-img {
    margin: 5px;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    padding: 0;
    width: 100%;
}

.main .destinasi .row .col-12 .row .col-6 .cov-img img {
    transition: .5s cubic-bezier(0.47, 0, 0.745, 0.715);
}

.main .destinasi .row .col-12 .row .col-6:hover img {
    transform: scale(1.2) rotate(3deg);
}

.main .destinasi .row .col-12 .row .col-6 .cov-img h3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #fff;
    text-align: center;
    text-shadow: 2px 2px 2px black;
}